<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="hot_movie.css">
    <title>Phim hay tháng</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row cover">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="row">
                    <a class="hot_movie" href="#">
                        <h4>PHIM HAY THÁNG</h4>
                    </a>
                </div>
                
                <div class="movie-item">
                    <div class="row">
                        <div class="movie-image">
                            <a href="#">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/10/450x300-pht_1678423704171.jpg">
                            </a>
                        </div>
                        <div class="movie-info">
                            <div class="movie-name">
                                <a href="#"><h5>Phim Hay Tháng 03.2023: Tới Rạp "Haha"</h5></a>
                            </div>
                            <div class="movie-detail">
                                <button type="button" class="btn btn-primary movie-button">👍🏻Thích <label id="count-like">0</label></button>
                                <label class="movie-views-lbl">Lượt xem: <label id = "count-view">0</label></label>
                            </div>
                            <div class = "movie-description">
                                <p>
                                    Tháng Giêng là tháng ăn chơi, tháng hai cờ bạc, tháng 3 cùng cười haha với Galaxy Cinema với vô số phim hài sắp đổ bộ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="movie-item">
                    <div class="row">
                        <div class="movie-image">
                            <a href="#">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/10/450x300-pht_1678423704171.jpg">
                            </a>
                        </div>
                        <div class="movie-info">
                            <div class="movie-name">
                                <a href="#"><h5>Phim Hay Tháng 03.2023: Tới Rạp "Haha"</h5></a>
                            </div>
                            <div class="movie-detail">
                                <button type="button" class="btn btn-primary movie-button">👍🏻Thích <label id="count-like">0</label></button>
                                <label class="movie-views-lbl">Lượt xem: <label id = "count-view">0</label></label>
                            </div>
                            <div class = "movie-description">
                                <p>
                                    Tháng Giêng là tháng ăn chơi, tháng hai cờ bạc, tháng 3 cùng cười haha với Galaxy Cinema với vô số phim hài sắp đổ bộ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="movie-item">
                    <div class="row">
                        <div class="movie-image">
                            <a href="#">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/10/450x300-pht_1678423704171.jpg">
                            </a>
                        </div>
                        <div class="movie-info">
                            <div class="movie-name">
                                <a href="#"><h5>Phim Hay Tháng 03.2023: Tới Rạp "Haha"</h5></a>
                            </div>
                            <div class="movie-detail">
                                <button type="button" class="btn btn-primary movie-button">👍🏻Thích <label id="count-like">0</label></button>
                                <label class="movie-views-lbl">Lượt xem: <label id = "count-view">0</label></label>
                            </div>
                            <div class = "movie-description">
                                <p>
                                    Tháng Giêng là tháng ăn chơi, tháng hai cờ bạc, tháng 3 cùng cười haha với Galaxy Cinema với vô số phim hài sắp đổ bộ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 right">
                <div class="quick-buy-ticket">
                    <h4>MUA VÉ NHANH</h4>
                </div>
                <div class="select-all">
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn phim</option>
                        <option value="">Tây du ký</option>
                        <option value="">Đi tìm nemo</option>
                        <option value="">Doraemon</option>
                    </select>        
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn rạp</option>
                        <option value="">Rạp 1</option>
                        <option value="">Rạp 2</option>
                        <option value="">Rạp 3</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn ngày</option>
                        <option value="">13/3/2023</option>
                        <option value="">14/3/2023</option>
                        <option value="">15/3/2023</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn suất</option>
                        <option value="">Suất 1</option>
                        <option value="">Suất 2</option>
                        <option value="">Suất 3</option>
                    </select>
                    <div class="buy-ticket-btn">
                        <button class="buy-ticket">MUA VÉ</button>
                    </div>
                </div>
                <div class="now-showing">
                    <h4>PHIM ĐANG CHIẾU</h4>
                </div>
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="movie-img" src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C13</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="movie-img" src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C13</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="movie-img" src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C13</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                        </div>
                    </div>
                </div>
                <div class="view-more">
                    <button class="view-more-btn">XEM THÊM <label id="right-arrow">→</label></button>
                </div>
            </div>
            
        </div>
        <div class="pagi">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>

        

        <div class="row cover">
            <div class="col-md-1"></div>
            <div class="col-md-10"> 
                <div>
                    <h4>GALAXY CINEMA</h4>
                </div>
                
                <div class="summary">
                    <p>Phim hay tháng là tập hợp những bộ phim chiếu rạp hay nhất, mới nhất, được công chiếu trong tháng. Những bộ phim thuộc đủ các thể loại hành động, lãng mạn, kinh dị, sử thi... chất lượng, được đánh giá cao, hứa hẹn mang đến những giờ phút giải trí tuyệt vời trong rạp chiếu bóng. Phim hay tháng sẽ cung cấp đầy đủ thông tin phim, dễ dàng thuận tiện để các bạn có thể tìm kiếm vùa lựa chọn bộ phim phù hợp nhất để thưởng thức cùng gia đình và bạn bè.</p>
                </div> 
            </div>

            
        </div>
    </div>
</body>

</html>