<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Đặt lại mật khẩu</title>
</head>

<body>
    <h3 id="header__login" class="text-center my-3">Đặt lại mật khẩu</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-5">
                <div class="border p-3 rounded bg-form">
                    <form id="form-changePass" method="POST" action="/change-password">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="pass">Mật khẩu</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input id="pass" name="password" type="password" class="form-control"
                                        placeholder="Nhập vào mật khẩu mới">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pass">Xác nhận mật khẩu</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input id="rePass" name="rePassWord" type="password" class="form-control"
                                        placeholder="Nhập lại mật khẩu">
                                    <input type="text" name="email" value="{{email}}" hidden>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="alert alert-danger alert-dismissible fade show" hidden>
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    Mật khẩu bắt buộc ít nhất là 6 ký tự!
                                </div>
                                <div id="msg__passEq" class="alert alert-danger alert-dismissible fade show" hidden>
                                    <span id="msg__text"></span>
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>

                                </div>
                            </div>


                            <div class="form-group d-flex flex-column">
                                <button id="btn_change" class="btn btn-success px-5" type="submit">Đặt lại mật
                                    khẩu</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    const msg__text = document.getElementById("msg__text")
    const form_changePas = document.getElementById("form-changePass")
    const pass = document.getElementById("pass")
    const rePass = document.getElementById("rePass")
    const btn_change = document.getElementById("btn_change")
    const msg__passEq = document.getElementById("msg__passEq")




    btn_change.addEventListener('click', (e) => {
        e.preventDefault()
        if (pass.value.length < 6) {
            e.preventDefault();
            check("Mật khẩu tối thiểu phải có 6 kí tự", pass)
        } else if (rePass.value != pass.value) {
            e.preventDefault();
            check("Mật khẩu bạn nhập không khớp", rePass)
        } else {
            form_changePas.submit()
        }
    })

    function check(msg, element) {
        form_changePas.addEventListener('submit', function (event) {
            event.preventDefault();
        });
        msg__text.innerText = msg
        msg__passEq.hidden = false
        element.focus()
    }

    pass.addEventListener('keypress', () => {
        msg__passEq.hidden = true
    })

    rePass.addEventListener('keypress', () => {
        msg__passEq.hidden = true
    })

</script>

</html>