.cover {
    margin-top: 30px;
}
.link a {
    text-decoration: none;
    color: gray;
}
.link a:hover {
    text-decoration: none;
    color: orange;
}
.link label{
    color: gray;
}
#arrow{
    margin-right: 10px;
}
.des p{
    font-size: 17px;
    text-align: justify;
}
.movie-content-lbl h4 {
    color: #42464a;
    margin-bottom: 40px;
    margin-top: 40px;
}

.movie-content-lbl h4:after {
    display: block;
    width: 55px;
    height: 3px;
    margin-top: 10px;
    content: "";
    background-color: #f36a38;
    margin-bottom: 25px;
}

.quick-buy-ticket h4 {
    margin-bottom: 20px;
    color: #007bff;
}

.quick-buy-ticket h4::after {
    display: block;
    width: 55px;
    height: 3px;
    margin-top: 10px;
    content: "";
    background-color: #f36a38;
    margin-bottom: 25px;
}

.select-all {
    background-color: #f7f8f9;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 1px;
}

.select {
    border: 1px solid #ced0db;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}

.buy-ticket {
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #f46c3c;
    border: 0;
}

.buy-ticket:hover {
    background-color: #e46434;
}

.buy-ticket-btn {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 30px;
}

.now-showing {
    margin-bottom: 20px;
}

.now-showing:after {
    display: block;
    width: 55px;
    height: 3px;
    margin-top: 10px;
    content: "";
    background-color: #f36a38;
    margin-bottom: 25px;
}

.movie-img {
    width: 100%;
    height: 250px;
    display: table-cell;
}

.hidden-buy-ticket {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding-bottom: 110px;
    opacity: 0;
    text-align: center;
}

.right-movie-item:hover .hidden-buy-ticket {
    opacity: 1;
}

.right-movie-item:hover .movie-img {
    filter: brightness(35%);
    transition: 0.3s;
}

.right-movie-item {
    margin-bottom: 15px;
}

.hidden-buy-ticket-btn {
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #f46c3c;
    border: 1px solid #fff;
    margin-top: 30px;
}

.hidden-buy-ticket-btn:hover {

    background-color: #e46434;
}

.hidden-buy-ticket {
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
}

.age {
    color: white;
    background-color: #f46c3c;
    border: 0;
}

.right-movie-name {
    color: #42464a;
    margin-top: 10px;
}

.view-more-btn {
    height: 50px;
    width: 150px;
    color: #f46c3c;
    background-color: white;
    border: 1px solid #e46434;
}

.view-more-btn:hover {
    color: white;
    background-color: #e46434;
}

#right-arrow {

    font-size: 25px;
    font-weight: bold;
}

.view-more {
    text-align: right;
    margin-bottom: 30px;
}