.view {
    width: fit-content;
    border-radius: 3px;
    background-color: #e8ecf1;
}

#icon__view {
    height: 14px;
    width: 20px;
    padding-left: 4px;
}

#numView {
    padding-right: 4px;
}

#icon__star {
    height: 20px;
    width: 20px;
    margin-bottom: 6px;
}

#numRate {
    text-align: center;
    height: 100%;
    color: rgb(172, 169, 169);
}

.rating-btn {
    font-size: 13px;
    width: 80px;
    padding: 3px;
    color: white;
    background-color: #f46c3c;
    border: 0;
}

.content {
    text-align: justify;
    margin-bottom: 10px;
}

.img-content {
    text-align: center;
    margin-bottom: 10px;
}

.img-content img{
    width: 80%;
}

.img-review-container {
    position: relative;
    display: flex;
}

.img-review-container:hover .caption {
    opacity: 1;
}

.img-review-container:hover .img-review {
    transition: 0.3s;
    filter: brightness(35%);
}

.img-review {
    width: 100%;
    height: auto;
    display: table-cell;   
}
  
.caption {
    position: absolute;
    color: white;
    opacity: 0;
    width: 100%;
    padding: 20px;
}

.main-cap {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
 
.detail-btn {
    width: 120px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}

.detail-btn:hover {
    border: 1px solid #e46434;
    background-color: #e46434;
}

.detail{
    text-align: center;
    padding-top: 100px;
}

.quick-buy-ticket h4 {
    margin-bottom: 20px;
    color: #007bff;
}

.select-all {
    background-color: #f7f8f9;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 1px;
}

.select {
    border: 1px solid #ced0db;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}

.buy-ticket {
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #f46c3c;
    border: 0;
}

.buy-ticket:hover {
    background-color: #e46434;
}

.buy-ticket-btn{
    text-align: right;
    margin-right: 25px;
    margin-bottom: 30px;
}

.now-showing{
    margin-bottom: 20px;
    margin-top: 35px;
}

.movie-img {
    width: 100%;
    height: 250px;
    display: table-cell;
}

.hidden-buy-ticket {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding-bottom: 110px;
    opacity: 0;
    text-align: center;
}

.right-movie-item:hover .hidden-buy-ticket {
    opacity: 1;
}

.right-movie-item:hover .movie-img {
    filter: brightness(35%);
    transition: 0.3s;
}

.right-movie-item {
    margin-bottom: 15px;
}

.hidden-buy-ticket-btn {
    width: 100px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}

.hidden-buy-ticket-btn:hover {
    border: 1px solid #e46434;
    background-color: #e46434;
}

.hidden-buy-ticket{
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
}

.age {
    color: white;
    background-color: #f46c3c;
    border: 0;
}
.right-movie-name{
    color: #42464a;
    margin-top: 10px ;
}

.view-more-btn {
    height: 50px;
    width: 150px;
    color: #f46c3c;
    background-color: white;
    border: 1px solid #e46434;
}

.view-more-btn:hover {
    color: white;
    background-color: #e46434;
}

#right-arrow{
    
    font-size: 25px;
    font-weight: bold;
}

.view-more {
    text-align: right;
    margin-bottom: 30px;
}

h4:after {
    display: block;
    width: 55px;
    height: 3px;
    margin-top:10px;
    content: "";
    background-color: #f36a38;
    margin-bottom: 15px;
}