<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/actor.css">
    <title>Danh sách diễn viên</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row cover">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="total-filter">
                        <select name="" class="filter1">
                            <option value="" disabled selected hidden>Quốc gia</option>
                            <option value="">Việt Nam</option>
                            <option value="">Trung Quốc</option>
                            <option value="">Mỹ</option>
                        </select>
                        <select name="" class="filter2">
                            <option value="" disabled selected hidden>Sắp xếp</option>
                            <option value="">Mới nhất</option>
                            <option value="">Xem nhiều nhất</option>
                            <option value="">Đánh giá tốt nhất</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <a class="actor" href="#">
                        <h5>DIỄN VIÊN</h5>
                    </a>
                </div>
                <div class="actor-item">
                    <div class="row">
                        <div class="actor-image">
                            <a href="#">
                                <img
                                    src="https://www.goldderby.com/wp-content/uploads/2022/06/Chris-Evans-movies-ranked-1.webp">
                            </a>
                        </div>
                        <div class="actor-info">
                            <div class="actor-name">
                                <a href="#">
                                    <h4>Chris Evans</h4>
                                </a>
                            </div>
                            <div class="actor-detail">
                                <button type="button" class="btn btn-primary actor-button">👍🏻Thích <label
                                        id="count-like">0</label></button>
                                <label class="actor-views-lbl">Lượt xem: <label id="count-view">0</label></label>
                            </div>
                            <div class="actor-description">
                                <p>
                                    Khác với Chris Hemsworth vẫn đang loay hoay trong hình tượng vị thần sấm sét, đa số
                                    người hâm mộ vẫn nhìn nhận rõ ràng, Chris Evans và Captain America là hai con người
                                    hoàn toàn khác nhau.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actor-item">
                    <div class="row">
                        <div class="actor-image">
                            <a href="#">
                                <img
                                    src="https://www.goldderby.com/wp-content/uploads/2022/06/Chris-Evans-movies-ranked-1.webp">
                            </a>
                        </div>
                        <div class="actor-info">
                            <div class="actor-name">
                                <a href="#">
                                    <h4>Chris Evans</h4>
                                </a>
                            </div>
                            <div class="actor-detail">
                                <button type="button" class="btn btn-primary actor-button">👍🏻Thích <label
                                        id="count-like">0</label></button>
                                <label class="actor-views-lbl">Lượt xem: <label id="count-view">0</label></label>
                            </div>
                            <div class="actor-description">
                                <p>
                                    Khác với Chris Hemsworth vẫn đang loay hoay trong hình tượng vị thần sấm sét, đa số
                                    người hâm mộ vẫn nhìn nhận rõ ràng, Chris Evans và Captain America là hai con người
                                    hoàn toàn khác nhau.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actor-item">
                    <div class="row">
                        <div class="actor-image">
                            <a href="#">
                                <img
                                    src="https://www.goldderby.com/wp-content/uploads/2022/06/Chris-Evans-movies-ranked-1.webp">
                            </a>
                        </div>
                        <div class="actor-info">
                            <div class="actor-name">
                                <a href="#">
                                    <h4>Chris Evans</h4>
                                </a>
                            </div>
                            <div class="actor-detail">
                                <button type="button" class="btn btn-primary actor-button">👍🏻Thích <label
                                        id="count-like">0</label></button>
                                <label class="actor-views-lbl">Lượt xem: <label id="count-view">0</label></label>
                            </div>
                            <div class="actor-description">
                                <p>
                                    Khác với Chris Hemsworth vẫn đang loay hoay trong hình tượng vị thần sấm sét, đa số
                                    người hâm mộ vẫn nhìn nhận rõ ràng, Chris Evans và Captain America là hai con người
                                    hoàn toàn khác nhau.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 right">
                <div class="quick-buy-ticket">
                    <h4>MUA VÉ NHANH</h4>
                </div>
                <div class="select-all">
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn phim</option>
                        <option value="">Tây du ký</option>
                        <option value="">Đi tìm nemo</option>
                        <option value="">Doraemon</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn rạp</option>
                        <option value="">Rạp 1</option>
                        <option value="">Rạp 2</option>
                        <option value="">Rạp 3</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn ngày</option>
                        <option value="">13/3/2023</option>
                        <option value="">14/3/2023</option>
                        <option value="">15/3/2023</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn suất</option>
                        <option value="">Suất 1</option>
                        <option value="">Suất 2</option>
                        <option value="">Suất 3</option>
                    </select>
                    <div class="buy-ticket-btn">
                        <button class="buy-ticket">MUA VÉ</button>
                    </div>
                </div>
                <div class="now-showing">
                    <h4>PHIM ĐANG CHIẾU</h4>
                </div>
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="movie-img"
                                src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C13</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="movie-img"
                                src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C13</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="movie-img"
                                src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C13</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                        </div>
                    </div>
                </div>
                <div class="view-more">
                    <button class="view-more-btn">XEM THÊM <label id="right-arrow">→</label></button>
                </div>
            </div>

        </div>
        <div class="pagi">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="cinema-title" href="#">
                    <h5>LDBT CINEMA</h5>
                </div>
                <div class="cinema-description">
                    <p>
                        Bạn là một người mê phim, bạn thích khám phá bí mật phía sau hậu trường của các bom tấn, bạn
                        thần tượng nhà làm phim nào đấy bởi tư duy vượt thời đại, phong cách quay phim đặc biệt và những
                        câu
                        chuyện đầy mới lạ, bạn ngưỡng mộ một ngôi sao bởi khả năng diễn xuất cực đỉnh… Thậm chí nếu bạn
                        muốn tìm hiểu sâu hơn về điện ảnh, các trào lưu chủ nghĩa từng tạo tiếng vang trong lịch sử, sự
                        ra đời của các thể loại và bản sắc riêng của từng nền điện ảnh đến từ các quốc gia khác
                        nhau.<br><br>

                        Chào mừng đến chuyên trang điện ảnh, nơi được xem như một thư viện với đầy đủ các thông tin về
                        những bộ phim, đạo diễn, diễn viên dành cho người yêu phim. Tại đây bạn dễ dàng tìm hiểu được
                        tiểu sử của vị đạo diễn yêu thích, có được thông tin bên lề của các bộ phim hay đang chiếu tại
                        rạp. Ngoài ra nếu đam mê những tác phẩm kinh điển trong quá khứ, vẫn có những bài bình luận với
                        hạng mục Phim Kinh Điển.<br><br>

                        Đối với những ai có hứng thú tìm hiểu đời tư của các minh tinh hạng A, Galaxy Cinema cũng luôn
                        cập nhật các tin tức nóng hổi từ họ. Bên cạnh đó còn bao gồm các bài phân tích mang tính chuyên
                        môn, các chủ đề giúp nâng cao kiến thức điện ảnh cũng được giới thiệu qua loạt bài Ký Sự Điện
                        Ảnh.<br><br>

                        Galaxy Cinema – rạp chiếu được trang bị hệ thống âm thanh và hình ảnh hàng đầu Việt Nam, tự hào
                        là Trạm Điện Ảnh sẵn sàng đưa bạn vào thế giới Phim Như Sống – Sống Như Phim, cùng những chuyến
                        tàu với trải nghiệm thú vị tuyệt vời nhất trên màn ảnh.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>