<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/phimdangchieu.css">
    <title>Phim đang chiếu</title>
</head>
<body>
    <div class="container">
        <div class = "row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#"><h5>PHIM ĐANG CHIẾU</h5></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><h5>PHIM SẮP CHIẾU</h5></a>
                    </li>
                </ul>
                <div class = "movie">
                    <div class = "row">
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                        <div class = "col-md-3 col-sm-3 col-xs-6 movie-item">
                            <div class="movie-image">
                                <img src="https://cdn.galaxycine.vn/media/2023/3/3/300x450_1677813440300.jpg">
                            </div>
                            <div class = "movie-name">
                                <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie-des">
                    <div class="cinema-des">
                        <div class = "cinema-name-des">
                            <h4>LDBT CINEMA</h4>
                        </div>
                        <p>Khi mùa tết đã qua và mọi người bắt đầu đi vào luồng quay của công việc và học tập thì các siêu anh hùng cũng bắt đầu khởi động trong cuộc đua phòng vé. Bên cạnh sự trở lại của Ant-man và Shazam! Chúng ta còn được la hét hết mình cùng phim mới Scream 6 và tác phẩm ly kì giật gân Missing.</p>
                    </div><br>
                    <div class = "des">
                        <div class="movie-des">
                            <h6>Ant-Man and The Wasp: Quantumania</h6>
                            <p>Là người hùng của thế giới trong Avengers: Engame, Ant-man lại không nhận được sự chú ý đặc biệt mà còn bị nhầm lẫn với Spider-man. Dẫu vậy anh vẫn rất tận hưởng cuộc sống, bỗng một ngày, Cassie (Kathryn Newton) sử dụng một cỗ máy để liên lạc và vô tình khiến cả gia đình bị lôi vào thế giới lượng tử. Tại đây, Scott Lang (Paul Rudd) cùng Hope van Dyne (Evangeline Lilly) sẽ phải đối đầu với tên phản diện khét tiếng Kang the Conqueror (Jonathan Majors), phản diện lớn nhất The Multiverse Saga của Vũ trụ Marvel.</p>
                        </div>
                        <div class="movie-des">
                            <h6>Ant-Man and The Wasp: Quantumania</h6>
                            <p>Là người hùng của thế giới trong Avengers: Engame, Ant-man lại không nhận được sự chú ý đặc biệt mà còn bị nhầm lẫn với Spider-man. Dẫu vậy anh vẫn rất tận hưởng cuộc sống, bỗng một ngày, Cassie (Kathryn Newton) sử dụng một cỗ máy để liên lạc và vô tình khiến cả gia đình bị lôi vào thế giới lượng tử. Tại đây, Scott Lang (Paul Rudd) cùng Hope van Dyne (Evangeline Lilly) sẽ phải đối đầu với tên phản diện khét tiếng Kang the Conqueror (Jonathan Majors), phản diện lớn nhất The Multiverse Saga của Vũ trụ Marvel.</p>
                        </div>
                        <div class="movie-des">
                            <h6>Ant-Man and The Wasp: Quantumania</h6>
                            <p>Là người hùng của thế giới trong Avengers: Engame, Ant-man lại không nhận được sự chú ý đặc biệt mà còn bị nhầm lẫn với Spider-man. Dẫu vậy anh vẫn rất tận hưởng cuộc sống, bỗng một ngày, Cassie (Kathryn Newton) sử dụng một cỗ máy để liên lạc và vô tình khiến cả gia đình bị lôi vào thế giới lượng tử. Tại đây, Scott Lang (Paul Rudd) cùng Hope van Dyne (Evangeline Lilly) sẽ phải đối đầu với tên phản diện khét tiếng Kang the Conqueror (Jonathan Majors), phản diện lớn nhất The Multiverse Saga của Vũ trụ Marvel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>