<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ưu Đãi</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/uuDai.css">

    <link rel="stylesheet" href="/css/policy.css">
</head>

<body>
    <div class="container mt-3">
        <div class="location__page">
            <span id="span__locationPage"><a href="/">Trang chủ</a> > Thành viên > <span id="span__policy">Chính
                    sách</span></span>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="category d-flex">
                    <div class="category__choice first__cate">THỂ LỆ</div>
                    <div class="category__choice">QUYỀN LỢI</div>
                    <div class="category__choice">HƯỚNG DẪN</div>
                    <div class="category__choice">ĐĂNG KÝ</div>
                </div>
                <hr>
                <div class="content">
                    <h6>THỂ LỆ</h6>
                    <span class="content__text">Chương trình khách hàng thân thiết L2DBT là chương trình ưu đãi dựa trên
                        điểm tích lũy của
                        các thành viên gồm Star, G-star, X-star. Với mỗi giao dịch tại hệ thống rạp L2DBT, bạn sẽ nhận
                        được điểm thưởng tương ứng. Hình thức tích lũy như sau:
                    </span>
                    <img id="img__event" src="./img/quyenloitv-lcd-headline_1673941902410.png" alt="img_event">
                    <span class="content__text">
                        <br>Điểm tích lũy được gọi là Star (Sao). <br>
                        1 điểm tích lũy đổi được 1.000 đồng.<br>
                        Ví dụ: Khách hàng X-Star phát sinh giao dịch 250.000 đồng, được tích điểm 10% tương đương 25
                        điểm/ Star (Sao). <br>
                        <b>Cấp độ thành viên:</b> <br>

                        <img id="img__point" src="/img/thanhtinhdiem.jpg" alt="img_tinhdiem"> <br>

                        <b>Star </b>là thành viên thân thiết có tổng chi tiêu trong năm dưới 2,000,000 đồng tính từ ngày
                        1/1-31/12 <br>
                        <b>G-star</b> là thành viên thân thiết có tổng chi tiêu trong năm từ 2,000,000 đồng đến
                        3,999,999 đồng tính từ ngày 1/1-31/12. <br>

                        <b>Lưu ý:</b>

                        <ul class="note__list">
                            <li>Thông tin định danh thành viên gồm có email và số điện thoại bắt buộc phải hợp lệ.</li>
                            <li><b>Email không hợp lệ</b> là email không có thực tại thời điểm <b>L2DBT</b> rà soát dữ liệu
                                thành viên.</li>
                            <li><b>Số điện thoại không hợp lệ</b> là số điện thoại không liên lạc được hoặc số điện thoại không
                                thuộc sở hữu của chủ tài khoản thành viên ở thời điểm L2DBT rà soát dữ liệu
                                thành viên.</li>
                            <li>Với các trường hợp không hợp lệ, L2DBT có quyền xóa tài khoản thành viên mà
                                không cần thông báo trước.</li>
                            <li>Tài khoản thành viên không có đủ thông tin định danh gồm <b>email</b> và <b>số điện thoại</b> hợp lệ,
                                <b>L2DBT</b> có quyền xóa tài khoản thành viên mà không cần thông báo trước.</li>
                            <li>Điểm tích lũy có giá trị áp dụng tại tất cả các rạp L2DBT trên toàn quốc.</li>
                            <li>Điểm tích lũy có thời hạn sử dụng là 01 năm </li>
                            <li>Bạn có thể dễ dàng kiểm tra điểm tích lũy của mình trên Website L2DBT hoặc Ứng
                                dụng GLX trên điện thoại (Mobile App).</li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <h4 class="mua-ve-nhanh">MUA VÉ NHANH</h4>

                <div class="sl-all">

                    <select name="" id="" class="sl">
                        <option value="" disabled selected hidden>Chọn phim</option>
                        <option value="">Tây du ký</option>
                        <option value="">Đi tìm nemo</option>
                        <option value="">Doraemon</option>
                    </select>


                    <select name="" id="" class="sl">
                        <option value="" disabled selected hidden>Chọn rạp</option>
                        <option value="">Rạp 1</option>
                        <option value="">Rạp 2</option>
                        <option value="">Rạp 3</option>
                    </select>



                    <select name="" id="" class="sl">
                        <option value="" disabled selected hidden>Chọn ngày</option>
                        <option value="">13/3/2023</option>
                        <option value="">14/3/2023</option>
                        <option value="">15/3/2023</option>
                    </select>



                    <select name="" id="" class="sl">
                        <option value="" disabled selected hidden>Chọn suất</option>
                        <option value="">Suất 1</option>
                        <option value="">Suất 2</option>
                        <option value="">Suất 3</option>
                    </select>




                    <div class="mua-ve-btn">
                        <button class="mua-ve">MUA VÉ</button>
                    </div>




                </div>

                <h4 class="mua-ve-nhanh">PHIM ĐANG CHIẾU</h4>

                <div class="row">
                    <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="img-phim"
                                src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                        </a>
                        <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                    </div>

                    <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="img-phim"
                                src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                        </a>
                        <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                    </div>

                    <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                        <a href="https://www.galaxycine.vn/dat-ve/sieu-lua-gap-sieu-lay">
                            <img class="img-phim"
                                src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" alt="">
                        </a>
                        <h5>SIÊU LỪA GẶP SIÊU LẦY</h5>
                    </div>
                </div>

                <div class="xem-them-btn">
                    <button class="xem-them">XEM THÊM</button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>