<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/support.css">
    <title>Hỗ Trợ</title>
</head>

<body>
    <div class="container">
        <div class="row cover">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <!--Section: Contact v.2-->
                <section class="mb-4">
                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Bạn có câu hỏi nào không? Xin đừng ngần ngại liên
                        hệ trực tiếp với LDBT Cinema nhé.</p>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="/support/ho-tro" method="POST">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="">Tên của bạn</label>
                                            <input type="text" id="name" name="name" class="form-control">

                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="phone" class="">Số điện thoại của bạn</label>
                                            <input type="text" id="phone" name="phone" class="form-control">
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="">Chủ đề</label>
                                            <input type="text" id="subject" name="subject" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <label for="message">Nội dung</label>
                                            <textarea type="text" id="message" name="message" rows="2"
                                                class="form-control md-textarea"></textarea>
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->

                                <div class="form-group mt-3">
                                    <div class="alert alert-danger alert-dismissible fade show" hidden>
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    </div>
                                    <div id="msg__passEq" class="alert alert-danger alert-dismissible fade show" hidden>
                                        <span id="msg__text"></span>
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                                    </div>
                                </div>

                                <div class="form-group mt-3">
                                    <button id="btnSubmit" class="btn btn-primary px-3" type="submit">GỬI</button>
                                </div>

                                <div class="status"></div>

                            </form>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-12 text-center mt-4">
                            <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                <li class="d-flex"><i class="fa fa-map-marker" style="margin-top: 4px;"></i>
                                    <p class="ml-2">90 Nguyễn Thị Thập, Q7, HCMC</p>
                                </li>

                                <li class="d-flex"><i class="fa fa-phone" style="margin-top: 4px;"></i>
                                    <p class="ml-2">19001222</p>
                                </li>

                                <li class="d-flex"><i class="fa fa-envelope" style="margin-top: 4px;"></i>
                                    <p class="ml-2">support@ldbt.com</p>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                    </div>

                </section>
                <!--Section: Contact v.2-->
            </div>

            <div class="col-md-3 right">
                <div class="quick-buy-ticket">
                    <h4>MUA VÉ NHANH</h4>
                </div>
                <div class="select-all">
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn phim</option>
                        <option value="">Tây du ký</option>
                        <option value="">Đi tìm nemo</option>
                        <option value="">Doraemon</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn rạp</option>
                        <option value="">Rạp 1</option>
                        <option value="">Rạp 2</option>
                        <option value="">Rạp 3</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn ngày</option>
                        <option value="">13/3/2023</option>
                        <option value="">14/3/2023</option>
                        <option value="">15/3/2023</option>
                    </select>
                    <select name="" id="" class="select">
                        <option value="" disabled selected hidden>Chọn suất</option>
                        <option value="">Suất 1</option>
                        <option value="">Suất 2</option>
                        <option value="">Suất 3</option>
                    </select>
                    <div class="buy-ticket-btn">
                        <button class="buy-ticket">MUA VÉ</button>
                    </div>
                </div>
                <div class="now-showing">
                    <h4>PHIM ĐANG CHIẾU</h4>
                </div>

                {{#each films}}
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <a href="#">
                            <img class="movie-img" src="/img/{{this.poster}}" alt="{{this.tenphim}}">
                            <div class="hidden-buy-ticket">
                                <p><label class="age">C{{dotuoi}}</label></p>
                                <button class="hidden-buy-ticket-btn">MUA VÉ</button>
                            </div>
                        </a>
                        <div class="right-movie-name">
                            <h5>{{this.tenphim}}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}

                <div class="view-more">
                    <button class="view-more-btn">XEM THÊM <label id="right-arrow">→</label></button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    const name = document.getElementById("name")
    const phone = document.getElementById("phone")
    const subject = document.getElementById("subject")
    const message = document.getElementById("message")

    const btnSubmit = document.getElementById("btnSubmit")
    const msg__passEq = document.getElementById("msg__passEq")
    const msg__text = document.getElementById("msg__text")
    const formContact = document.getElementById("contact-form")

    function check(msg, element) {
        formContact.addEventListener('submit', function (event) {
        event.preventDefault();
        });
        msg__text.innerText = msg
        msg__passEq.hidden = false
        element.focus()
    }

    btnSubmit.addEventListener("click", function (e) {
        if (name.value.length == 0) {
        e.preventDefault();
        check("Vui lòng nhập tên của bạn", name)
        } else if (phone.value.length < 10){
        e.preventDefault();
        check("Vui lòng nhập số điện thoại", phone)
        } else if(subject.value.length == 0) {
        e.preventDefault();
        check("Vui lòng nhập chủ đề", subject)
        }else if(message.value.length == 0) {
        e.preventDefault();
        check("Vui lòng nhập nội dung", message)
        } else {
        formContact.submit()
        }
        
    })

    name.addEventListener('keypress', () => {
        msg__passEq.hidden = true
    })

    pass.addEventListener('keypress', () => {
        msg__passEq.hidden = true
    })

</script>

</html>