<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header - Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <style>
        .menu {
            font-size: 20px;
        }
    </style>
</head>

<html>
<div class="bg-body-tertiary">
    <!-- Footer -->
    <section>
        <div class="container text-center text-md-start">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        GIỚI THIỆU
                    </h6>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">VỀ CHÚNG TÔI</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">THỎA THUẬN SỬ DỤNG</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">QUY CHẾ HOẠT ĐỘNG</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">CHÍNH SÁCH BẢO MẬT</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        GÓC ĐIỆN ẢNH
                    </h6>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">THỂ LOẠI PHIM</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">BÌNH LUẬN PHIM</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">BLOG ĐIỆN ẢNH</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" style="text-decoration: none">PHIM HAY THÁNG</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        HỖ TRỢ
                    </h6>
                    <p>
                        <a href="#" class="text-reset" style="text-decoration: none">GÓP Ý</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset" style="text-decoration: none">SALE & SERVICES</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset" style="text-decoration: none">RẠP / GIÁ VÉ</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset" style="text-decoration: none">TUYỂN DỤNG</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">
                    <h6 class="text-uppercase fw-bold mb-4">THÔNG TIN LIÊN HỆ</h6>
                    <p><i style="font-size: 25px;" class="fa fa-home text-secondary"></i> Quận 7, TP Hồ Chí Minh</p>
                    <p>
                        <i style="font-size: 25px;" class="fa fa-envelope text-secondary"></i> ldbtcinema@gmail.com
                    </p>
                    <p><i style="font-size: 25px;" class="fa fa-phone text-secondary"></i> 0878 27 2222</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->

    <!-- Address -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Cinema Ticket Booking Online:
        <a class="text-reset fw-bold" href="#">L2DBT Cinema</a>
    </div>
    <!-- End Address -->
</div>
</body>

</html>